<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <h2>App</h2>
    <mat-list role="list">
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/students">Students</a>
      <a mat-list-item routerLink="/courses">Courses</a>
    </mat-list>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>

      {{ (observables | async)?.[1].username }}
    </mat-toolbar>

    <header>
      <h1>Home Component</h1>
    </header>

    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
